.list__marks {
  column-count: 2;
  gap: 12px;
}

.list__marks-link {
  text-transform: uppercase;
  font-weight: 700;
}

.list--marks-catalog .list__marks {
  column-count: 3;
}

.list--marks-menu .list__marks {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.list .button {
  width: 100%;
}

.list--marks-home .list__marks-item {
  margin-bottom: 12px;
  border: 1px solid $color-white;
}

.list--marks-menu .list__marks-item {
  width: calc(25% - 30px);
  height: 130px;
  border: 1px solid $color-white;
}

.list--marks-menu .list__marks-item .list__marks-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.list--marks-menu .list__marks-item .list__marks-link .nuxt-icon {
  width: 53px;
  height: 48px;
}


.list--marks-home .list__marks-item .list__marks-link {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  gap: 12px;
}

.list--marks-home .list__marks-item .list__marks-link .nuxt-icon {
  width: 53px;
  height: 48px;
}

.list--marks-catalog .list__marks-item {
  margin-bottom: 24px;
}

.list--marks-catalog .list__marks-item .list__marks-link .nuxt-icon {
  width: 30px;
  height: 30px;
}

.list--marks-catalog .list__marks-item .list__marks-link {
  height: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  gap: 8px;
}


.list--marks-catalog .list__marks-item .list__marks-link span {
  font-size: 12px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: $desktop-width) {
  .list--marks-home {
    display: flex;
  }
  .list--marks-home .list__marks {
    display: flex;
    flex-wrap: wrap;
  }
  .list--marks-home .list__marks-item {
    width: calc(20% - 12px);
    margin-bottom: 0;
  }
  .list--marks-home .button {
    gap: 40px;
    justify-content: space-between;
    width: 180px;
    height: 130px;
  }
  .list--marks-catalog .list__marks {
    column-count: 7;
  }
  .list__marks-link {
    transition: .16s;

    &:hover {
      opacity: .64;
      //background: $color-white;
      //color: $color-black;
    }
  }
}