.section {

}

.section--thanks {
  margin-top: 48px;
}

.section--filters {
  background: $color-white;
  margin-top: 24px;
  padding: 16px 0;
}

.section--marks {
  margin-top: 24px;
}

.section--folders {
  margin-top: 24px;
}

.section--folders-catalog {
  margin-top: 48px;
}

.section--benefits {
  margin-top: -64px;
  position: relative;
  z-index: 2;
}

.section--title {
  margin-top: 24px;
}

.section--home {
  margin-top: 24px;
}

.section--banks {
  margin-top: 48px;
}

.section--home-folders {
  margin-top: 48px;
}

.section--contacts {
  margin-top: 48px;
}

.section--services {
  margin-top: 48px;
}

.section--sets {
  margin-top: 48px;
}

.section--body-types {
  margin-top: 24px;
}

.section--catalog {
  margin-top: 24px;
}